<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CBT_EXAM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CBT_EXAM.My.MySettings>
            <setting name="password" serializeAs="String">
                <value>odtc123</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="minutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="seconds" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="adminUser" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="adminPass" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="lastExaminer" serializeAs="String">
                <value>Olasquare</value>
            </setting>
            <setting name="score" serializeAs="String">
                <value>30</value>
            </setting>
        </CBT_EXAM.My.MySettings>
    </userSettings>
</configuration>